<!-- This link would go in your header tag -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <br>
      <h4>Party Planner</h4>
      <p><img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/camera-photo-128.png" alt=""></p>
      <h2><i class="fa fa-exclamation-triangle" style="color:red"></i> Page not found <small>404 error</small></h2>
      <p>Well, this is embarrassing.
        <br>
      </p>
      <p><a href="parties">Click here</a> to go home</p>
    </div>
  </div>
</div>